<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos explicabo sint expedita inventore in quisquam placeat nostrum dicta corporis blanditiis ullam fuga dolore modi itaque quaerat facere autem hic sequi, amet at. Accusamus, eos perspiciatis. Omnis veniam dolore ex eligendi.</p>
        
    </div>
</div>